/* http://www.colorcombos.com/color-schemes/20/ColorCombo20.html */
/* http://www.aspsnippets.com/Articles/Using-ASPNet-Menu-control-with-example-in-C-and-VBNet.aspx */

body {
	font: 1em/150% Arial, Helvetica, sans-serif;
    background-color:#9A3334;
}

h1 {
	font: bold 36px/100% Arial, Helvetica, sans-serif;
    color:#217C7E;
    display:inline-block;
}

.hdr_img {
    margin:0;
    padding:10px;
    border:0;
    display:inline-block;
    float:right;
}
/************************************************************************************
STRUCTURE
*************************************************************************************/
#pagewrap {
	padding: 5px;
	width: 93%;
	margin: 20px auto;
    background-color:white;
}
#header {
	height: 180px;
    background-color:#F3EFE0;
}
#content {
	width: 62%;
	float: left;
}
#sidebar {
	width: 31%;
	float: right;
}
#footer {
	clear: both;
    background-color:#F3EFE0;
    color:#217C7E;
}

/************************************************************************************
BORDER & GUIDELINE
*************************************************************************************/
#content {
	background: #f8f8f8;
}
#sidebar {
	background: #f0efef;
}
#header, #content, #sidebar {
	margin-bottom: 5px;
}
#pagewrap, #header, #content, #sidebar, #footer {
	border: solid 1px #ccc;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
	
	#pagewrap {
		width: 94%;
	}
	#content {
		width: 65%;
	}
	#sidebar {
    visibility:hidden;
    display:none;
	}
    #date {
    visibility:hidden;
    display:none;
    }

    #menu {
    display:none;
    width:100%;
    }
}

/* for 700px or less */
@media screen and (max-width: 700px) {

	#content {
		width: auto;
		float: none;
	}
	#sidebar {
		width: auto;
		float: none;
	}
    #date {
    visibility:hidden;
    display:none;
    }
    #menu {
    display:none;
    width:100%;
    }
}

/* for 480px or less */
@media screen and (max-width: 480px) {

	#header {
		height: auto;
	}
	h1 {
		font-size: 24px;
	}
	#sidebar {
		display: none;
	}
    #date {
    visibility:hidden;
    display:none;
    }
}


/************************************************************************************
DATE
*************************************************************************************/
#date {
    background:white;
    width:240px;
    padding-top:10px;
    padding-bottom:10px;
    height:0px;
    display:inline-block;
    float:right;
    }


/************************************************************************************
MENU
*************************************************************************************/
#menu {
    display:inline-block;
    padding: 5px 5px 10px 5px;
}

.main_menu
    {
        width: 120px;
        background-color:#efefef;
        color:#3399FF;
        text-align: center;
        height: 30px;
        line-height: 30px;
        margin-right: 5px;
        background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	    background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	    background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
        box-shadow: 1px 1px 3px 2px #888888;
       
    }
.level_menu
    {
        width:120px;
        background-color:#6e7277;
        color: #fff;
        text-align: center;
        height: 30px;
        line-height: 30px;
        margin-top: 5px;
        z-index:auto;
        padding: 2px; 
    }
.selected
    {
        background-color:#6e7277;
        color:#3399FF;
    }

.dotnetMenu A, .dotnetMenu A:visited
{
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 10pt;
    cursor: default;
}
.staticItem A, .staticItem A:Visited
{
    color: #ffffff;
    cursor: default!important;
    font-size: 10pt;
}
.staticItem TD
{
    padding: 5px;
    border-right: transparent 1px solid;
    border-top: transparent 1px solid;
    border-left: transparent 1px solid;
    border-bottom: transparent 1px solid;
    color: #ffffff;
    cursor: default;
    text-align: center;
    font-size: 10pt;
}
.staticHover TD
{
    background-color: #cdd7e3;
    border-right: #ffffff 1px solid;
    border-top: #000000 1px solid;
    border-left: #000000 1px solid;
    border-bottom: #ffffff 1px solid;
    background-image: none;
    color: #08246B;
    cursor: default;
    text-align: center;
    font-size: 10pt;
}
.staticHover A, .staticHover A:Visited
{
    color: #08246B;
    cursor: pointer;
    font-size: 10pt;
}
.popupMenu TD
{
    text-align: left;
    background-color: #cdd7e3;
    font-size: 10pt;
    cursor: default;
}
.popupItem A, .popupItem A:Visited
{
    color: #08246B;
    cursor: pointer;
    font-size: 10pt;
    cursor: default;
}
.popupItem TD
{
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 10pt;
    cursor: default;
}
.popupHover A, .popupHover A:Visited
{
    color: #ffffff;
    cursor: pointer;
    font-size: 10pt;
}
.popupHover TD
{
    background-color: #08246B;
    border-right: #ffffff 0px solid;
    border-top: #ffffff 0px solid;
    border-left: #ffffff 0px solid;
    border-bottom: #ffffff 0px solid;
    background-image: none;
    font-size: 10pt;
    cursor: default;
}