.cssgridview {
font: 75%/1.5em arial, geneva, sans-serif;
border-collapse: collapse;
align-items:center;
text-align:center;  
margin-right:auto;
margin-left:auto;
margin-bottom:10px;
}
	
/* headline */

#caption {
margin: 0;
border-bottom: 4px solid #fff;
padding: 10px;
text-align: center;
font: bold 200%/1em arial, geneva, sans-serif;
color: #000;
width: 100%;
text-transform: uppercase;
letter-spacing: 0.1em;

}	
	
/* data */

.cssgridview {
background: #acc;
}
.cssgridview td {
font-size: 100%;
letter-spacing: 0.05em;
}

.cssgridview td, th {
border-bottom: 4px solid #fff;
border-left: 1px dotted #fff;
vertical-align: top;
padding: 10px;
}

/* header */ 
	
.cssgridview .header th { /* headers oben */
padding: 5px 10px;
text-align: left;
background: #ffb6c1; /* pink */
color: #fff;
text-transform: uppercase;
letter-spacing: 0.2em;
font-weight: bold;
font-size: 110%
}

.cssgridview th { 
padding: 10px 10px 10px 10px;
text-align: left;
font-size: 110%;
color: #fff;
letter-spacing: 0.1em;
line-height: 1.5em;
text-transform: uppercase;
}	

/* colours */

.cssgridview tr.alt th {
background: #E6E0C0; 
}
.cssgridview tr.alt {
background: #E6E0C0; 
}

.cssgridview tr th {
background: #b6e5ff; 
}
.cssgridview tr {
background: #b6e5ff; 
}

/* footer */

.cssgridview .pgr th, .pgr td {
margin: 0;
border-top: 2px solid #fff;
padding: 5px 10px;
text-align: left;
background-color:white;
color:#277ffe;
width: auto;
}

.cssgridview .pgr th {
text-transform: uppercase;
letter-spacing: 0.2em;
border: none;
}

.cssgridview .pgr td {
padding-left: 10px;
}
	
/* links */	
	
.cssgridview tr th a { /* blue */
color: #277ffe;
display: block;
}

.cssgridview tr.alt th a { /* beige */
color: #555;
display: block;
}	
	
.cssgridview td a {
color: #DF3985;
}

a:visited, .cssgridview tr.alt th a:visited {
color: #999;
}t td, .cssgridview .pgr th, .cssgridview .pgr tr {text-align: left; font: 120%  "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif; text-transform: uppercase;  padding: 10px;}