<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider" 
             description="Default SiteMap provider" 
             type="System.Web.XmlSiteMapProvider" 
             siteMapFile="Web.sitemap" 
             securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
   
    <roleManager enabled="true"/>
    <authentication mode="Forms">
      <forms loginUrl="login/login.aspx"/>
    </authentication>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
 </system.web>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=6k183g2; Persist Security Info=True; User ID=6k183g2; Password=pAssw00rd!"/>
    <add name="cs_SLPL" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=6k183g2; Persist Security Info=True; User ID=6k183g2; Password=pAssw00rd!" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <location path="default.apsx">
    <system.web>
      <authorization>
        <allow roles = "*" />
      </authorization>
    </system.web>
  </location>
  
  
  <location path="patrons">
    <system.web>
      <authorization>
        <deny users = "?" />
        <allow roles = "patron, librarian" />
      </authorization>
    </system.web>
    </location>
  
  <location path="librarians">
  <system.web>
    <authorization>
      <allow roles = "Librarian" />
      <deny users = "?" />
      <deny roles = "Patron" />
    </authorization>
  </system.web>
  </location>
  
</configuration>