/* http://www.colorcombos.com/color-schemes/20/ColorCombo20.html */
/* http://www.aspsnippets.com/Articles/Using-ASPNet-Menu-control-with-example-in-C-and-VBNet.aspx */

body {
	font: 1em/150% Arial, Helvetica, sans-serif;
    background-color:#9A3334;
}

h1 {
	font: bold 36px/100% Arial, Helvetica, sans-serif;
    color:#217C7E;
    display:inline-block;
}

.hdr_img {
    margin:0;
    padding:10px;
    border:0;
    display:inline-block;
    float:right;
}
/************************************************************************************
STRUCTURE
*************************************************************************************/
#pagewrap {
	padding: 5px;
	width: 93%;
	margin: 20px auto;
    background-color:white;
}
#header {
	height: 180px;
    background-color:#F3EFE0;
}
#content {
	width: 62%;
	float: left;
}
#sidebar {
	width: 31%;
	float: right;
}
#footer {
	clear: both;
    background-color:#F3EFE0;
    color:#217C7E;
}




/************************************************************************************
BORDER & GUIDELINE
*************************************************************************************/
#content {
	background: #f8f8f8;
}
#sidebar {
	background: #f0efef;
}
#header, #content, #sidebar {
	margin-bottom: 5px;
}
#pagewrap, #header, #content, #sidebar, #footer {
	border: solid 1px #ccc;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
	
	#pagewrap {
		width: 94%;
	}
	#content {
		width: 100%;
	}
	#sidebar {
    visibility:hidden;
    display:none;
	}
    #date {
    visibility:hidden;
    display:none;
    }

    #menu {
    width:100%;
    }
}

/* for 700px or less */
@media screen and (max-width: 700px) {

	#content {
	width: auto;
	float: none;
	}
	#sidebar {
	width: auto;
	float: none;
	}
    #date {
    visibility:hidden;
    display:none;
    }
    #menu {
    width:100%;
    }
}

/* for 480px or less */
@media screen and (max-width: 480px) {

	#header {
	height: auto;
	}
	h1 {
	font-size: 24px;
	}
	#sidebar {
	display: none;
	}
    #date {
    visibility:hidden;
    display:none;
    }
}


/************************************************************************************
DATE
*************************************************************************************/
#searchdate {
    background-color:#5798B4;
    display:inline-block;
    width:100%;
}

#date {
    padding-bottom:10px;
    float:right;
    margin-left: 0px;
    display:inline-block;
}

#search {
float:left;
display:inline-block;

}


/************************************************************************************
MENU
*************************************************************************************/
 /*   
    .main_menu
    {
        width: 120px;
        background-color:#efefef;
        color:#3399FF;
        text-align: center;
        height: 30px;
        line-height: 30px;
        margin-right: 5px;
        background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	    background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	    background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
        box-shadow: 1px 1px 3px 2px #888888;
       
    }
.level_menu
    {
        width:120px;
        background-color:#6e7277;
        color: #fff;
        text-align: center;
        height: 30px;
        line-height: 30px;
        margin-top: 5px;
        z-index:auto;
        padding: 2px; 
    }
.selected
    {
        background-color:#6e7277;
        color:#3399FF;
    }*/



#menu {
    padding-top:15px;
    width:auto;
    background:#5798B4;
    display:inline-block;
    float:left;
    width:100%;
    border-top:1px solid #fff;
   
    }

#menu, #menu ul {
	list-style:none;
	padding:0;


}
#menu li {
	float:left;
	position:relative;
	line-height: 4.5em;
	width: 10em;
}

#menu li ul {
	position:absolute;
	margin-top:-4em;
	margin-left:.4em;
	display:none;
}
#menu ul li ul {
	margin-top:-1em;

}

#menu a:hover {
	background-color:#3B3B3B;
	color:#fff;
}
#menu ul {
	border-top:1px solid #fff;
}
#menu ul a {
	border-right:none;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	border-left:1px solid #fff;
    color:#fff;
	background:#5798B4;
}

/* SHOW SUBMENU 1 */
 #menu li:hover ul, #menu li.over ul {
	display:block;
}
#menu li:hover ul ul, #menu li.over ul ul {
	display:none;
}
/*SHOW SUBMENU 2*/ 
#menu ul li:hover ul, #menu ul li.over ul {
	display:block;
}

/* Fix IE. Hide from IE Mac \*/
* html ul li { float: left; height: 1%; }
* html ul li a { height: 1%; }
/* End */
